@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;500&display=swap');

.todo-app {
    display: flex;
    justify-content: center;
}

.input-add-button-container {
    display: flex;
    justify-content: center;
}

p {
    align-items: center;
    color: #548CA8;
    font-size: 40px;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-right: 30px;
    resize: none;
    outline: none;
    background-color: #EEEEEE;
    font-size: 20px;
}

.add-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    background-color: #548CA8;
    font-size: 180%;
}

.add-button:hover {
    background-color: #4eb4cc;
}

.todo-list-container {
    display: flex;
    justify-content: center;
}

.cross-text {
    text-decoration: line-through;
    list-style-type: none;
    color: #EEEEEE;
    font-size: 25px;
}

.list-item {
    list-style-type: none;
    color: #EEEEEE;
    font-size: 25px;
}

.completed-button {
    border: none;
    border-radius: 50%;
    background-color: #548CA8;
}

.completed-button:hover {
    background-color: #4eb4cc;
}

.delete-button {
    border: none;
    border-radius: 50%;
        background-color: #548CA8;
}

.delete-dutton:hover {
    background-color: #4eb4cc;
}

.delete-all-container {
    display: flex;
    justify-content: center;
}

.delete-all-button {
    height: 40px;
     width: 40px;
    border: none;
    border-radius: 50%;
    background-color: #548CA8;
}

.delete-all-button:hover {
    background-color: #4eb4cc;
}