@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;500&display=swap');

.todoApp {
    display: flex;
    justify-content: center;
}

.inputAddButtonContainer {
    display: flex;
    justify-content: center;
}

p {
    align-items: center;
    color: #548CA8;
    font-size: 40px;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-right: 30px;
    resize: none;
    outline: none;
    background-color: #EEEEEE;
    font-size: 20px;
}

.AddButton {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    background-color: #548CA8;
    font-size: 180%;
}

.AddButton:hover {
    background-color: #4eb4cc;
}

.todoListContainer {
    display: flex;
    justify-content: center;
}

.crossText {
    text-decoration: line-through;
    list-style-type: none;
    color: #EEEEEE;
    font-size: 25px;
}

.listitem {
    list-style-type: none;
    color: #EEEEEE;
    font-size: 25px;
}

.completedButton {
    border: none;
    border-radius: 50%;
    background-color: #548CA8;
}

.completedButton:hover {
    background-color: #4eb4cc;
}

.deleteButton {
    border: none;
    border-radius: 50%;
        background-color: #548CA8;
}

.deleteButton:hover {
    background-color: #4eb4cc;
}

.deleteAllContainer {
    display: flex;
    justify-content: center;
}

.deleteAllButton {
    height: 40px;
     width: 40px;
    border: none;
    border-radius: 50%;
    background-color: #548CA8;
}

.deleteAllButton:hover {
    background-color: #4eb4cc;
}